@import "src/shared/styles/variables";

.actionButton {
  min-width: 160px;
}

// TODO: since this is similar to deposit form balance label
// this can be extracted as an atom component
.balanceLabel {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: map-get($accents, "primary");
  }
}
