@import '../../../shared/styles/variables';

.separator {
  &.vertical {
    border-right: 1px solid map-get($colors, 'olive');
  }

  &.horizontal {
    width: 100%;
    border-top: 1px solid map-get($colors, 'olive');
  }
}
