@import "src/shared/styles/variables";
@import "src/shared/styles/mixins";

.header {
  $headerBgColor: map-get($colors, "americanBlue");
  background-color: $headerBgColor;
  padding-top: 22px;
  padding-bottom: 22px;
  position: sticky;
  top: 0;
  width: 100%;
  flex-direction: column;
  z-index: 10;

  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;

  &.opaque {
    background-color: transparentize($headerBgColor , 0.6);
  }

  @include md() {
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .logo {
      align-self: flex-start;
      width: 88px;
      height: auto;

      @include md() {
        width: initial;
      }
    }
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    transition: max-height 1.2s ease-out;

    &.menuClosed {
      max-height: 0;
    }

    @include md() {
      display: none;
    }
  }

  .ctaBTN {
    min-width: 240px;
  }

  .content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    @include md() {
      height: 60px;
      flex-direction: row;
    }

    & > * {
      margin-bottom: 16px;

      @include md() {
        margin-right: 24px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
