@import './variables';
@import './util';

html, body {
  font-family: 'Titillium Web';
  font-size: $defaultFontSize;
  color: map-get($colors, 'white');
  background-color: map-get($colors, 'darkJungleGreen');
  background-image: url("../assets/bg.svg");
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1 {
  @include headerFontSize(1);
}

h2 {
  @include headerFontSize(2);
}

h3 {
  @include headerFontSize(3);
}

h4 {
  @include headerFontSize(4);
}

h5 {
  @include headerFontSize(5);
}

h6 {
  @include headerFontSize(6);
}

// wallet connect clipboard fix
.walletconnect-modal__footer a {
  color: #898d97!important;
}
