@import 'variables';
@import 'mixins';

$fontSizes: 64;

// Mixin for generating font size and line height classes (fs-1, lh-1, ... fs-64, lh-64)
@mixin fs-x-list {
  @for $i from 1 through $fontSizes {
    .fs-#{$i} {
      font-size: pxToRem($i * 1px);
    }
    .lh-#{$i} {
      line-height: pxToRem($i * 1px);
    }
  }
}

@include fs-x-list;

.ff-titillium-web {
  font-family: 'Titillium Web';
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.pv-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}

@each $name, $glyph in $accents {
  // color-accent-main, color-accent.secondary ....
  .color-accent-#{$name} {
    color: $glyph;
  }

  // bg-color-accent-main, bg-color-accent.secondary ...
  .bg-color-accent-#{$name} {
    background-color: $glyph;
  }
}

@each $name, $glyph in $colors {
  // color-green, ...
  .color-#{$name} {
    color: $glyph;
  }

  // bg-color-green ...
  .bg-color-#{$name} {
    background-color: $glyph;
  }
}

$min-widths: 50px, 100px, 200px, 300px, 400px, 500px;

@each $size in $min-widths {
  .mw-#{$size} {
    min-width: $size;
  }
}
