$colors: (
  'white': #FFFFFF,
  'rhytm': #6E79A3,
  'blueBell': #9FA6C9,
  'purpleNavy': #484F7F,
  'tiffanyBlue': #13BFBA,
  'yankesBlue': #232743,
  'yankeesBlueLighter': #272C47,
  'spaceCadet': #272B4A,
  'jacarta': #313759,
  'americanBlue': #3F466D,
  'darkJungleGreen': #14182B,
  'olive': #828491,
  'red': #F16063
);

$accents: (
  'primary': map-get($colors, 'tiffanyBlue'),
  'secondary': map-get($colors, 'yankesBlue')
);

$defaultFontSize: 16px;
$backgroundColor: map-get($colors, 'lightGray');

$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$h1XlSize: 57.33;
$headerScale: 1.2;
$offsetByBreakpoint: (
  $screen-xl-min: -1, // h1: 1 - 1 = 0; take original xl h1 size
  $screen-lg-min: 0, // h1: 1 - 0 = 1; take size off h2
  $screen-md-min: 1,
  $screen-sm-min: 2,
  $screen-xs-min: 3
);
