@import "src/shared/styles/variables";

.page {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  .container {
  }
}

.shutdownRibbon {
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: rgba(255,0,0, 0.4);
}
